*{
    margin:0;
    padding:0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30, 0.7)),url(images/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}  
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width:90%;
    color: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.A img{
    width: 200px;
}
.B img{
    width: 200px;
}
.C img{
    width: 200px;
}
.D img{
    width: 200px;
}
.E img{
    width: 200px;
}
.F img{
    width: 200px;
}
.G img{
    width: 200px;
}
.H img{
    width: 200px;
}
.I img{
    width: 200px;
}
.J img{
    width: 200px;
}
.K img{
    width: 200px;
}
.L img{
    width: 200px;
}
.M img{
    width: 200px;
}
.N img{
    width: 200px;
}
.O img{
    width: 200px;
}
.P img{
    width: 200px;
}
.Q img{
    width: 200px;
}
.R img{
    width: 200px;
}
.S img{
    width: 200px;
}
.T img{
    width: 200px;
}
.U img{
    width:200px;
}
.V img{
    width:200px;
}
.W img{
    width:200px;
}
.X img{
    width:200px;
}
.Y img{
    width:200px;
}
.Z img{
    width:200px;
}


.A {
    background-color: aqua;
    font-size: large;
}
.B{
    background-color: aquamarine;
    font-size: large;
}
.C {
    background-color: aqua;
    font-size: large;
}
.D{
    background-color: aquamarine;
    font-size: large;
}
.E {
    background-color: aqua;
    font-size: large;
}
.F{
    background-color: aquamarine;
    font-size: large;
}
.G {
    background-color: aqua;
    font-size: large;
}
.H{
    background-color: aquamarine;
    font-size: large;
}
.I {
    background-color: aqua;
    font-size: large;
}
.J{
    background-color: aquamarine;
    font-size: large;
}
.K{
    background-color: aqua;
    font-size: large;
}
.L{
    background-color: aquamarine;
    font-size: large;
}
.M {
    background-color: aqua;
    font-size: large;
}
.N{
    background-color: aquamarine;
    font-size: large;
}
.O {
    background-color: aqua;
    font-size: large;
}
.P{
    background-color: aquamarine;
    font-size: large;
}
.Q {
    background-color: aqua;
    font-size: large;
}
.R{
    background-color: aquamarine;
    font-size: large;
}
.S{
    background-color: aqua;
    font-size: large;
}
.T{
    background-color: aquamarine;
    font-size: large;
}
.U {
    background-color: aqua;
    font-size: large;
}
.V{
    background-color: aquamarine;
    font-size: large;
}
.W {
    background-color: aqua;
    font-size: large;
}
.X{
    background-color: aquamarine;
    font-size: large;
}
.Y {
    background-color: aqua;
    font-size: large;
}
.Z{
    background-color: aquamarine;
    font-size: large;
}

.main{
    flex:1;
    text-align: center;
}
.main ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.main ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.main ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.main ul li:hover::after{
    width: 100%;
}
